.form-login {
    background-color: #d2d2d2;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    margin-top: 70px;
}

.form-product {
    background-color: #d2d2d2;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    margin-top: 70px;
    height: 300px;
}

.desc-comp {
    height: 140px;        
}





